/**************************
GENERAL
***************************/

body {
  font-family: 'Lato', sans-serif;

}

ul {
  list-style: none;
}

#wrapper {
  width: 85%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/**************************
HEADING
***************************/

header {
  float: left; /* no practical use RIGHT NOW, until desktop*/
  margin: 0;
  padding: 0;
  width: 100%;

}


#mobile-image {
  display: block;
  margin: 0 auto;
  width: 680px;
}

#wide-image {
  display: none;
  margin: 1em;
  width: 200px;
  border-radius: 10%;


}

/**************************
NAVIGATION
***************************/

nav {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin: 10px;
}


/**************************
BODY
***************************/

h1 {
  font-family: 'Creepster', cursive;
  text-align: center;
  margin: 0;
  font-size: 3em;
}

/**************************
PAGE: MAIN
***************************/

#band-pic {
  max-width: 100%;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 0.75em;
  border-radius: 30%;
}



/**************************
PAGE: ABOUT
***************************/



#gallery {
  margin: 0;
  padding: 0;
}

#gallery li {
  float: left;
  width: 90%;
  margin: 1%;
}

#gallery li img {
  border-radius: 5px;
}

#gallery li p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  text-align: center;
}

/**************************
FOOTER
***************************/
footer {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  clear: left;
}

/**************************
COLORS
***************************/

body {
  background: #eee;
}
header {
  text-align: center;
  background-color: #222;
}

p {
  color: #000;
}

nav a, nav a:visited {
  color: #FFF;
}

nav a:hover {
  color: #00ff48;
}

h1 {
  color: #000;
}

#gallery li {
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li p {
  color: #222;
}

.fa:hover {
  color: #aaa;
}

footer a, footer a:visited {
  color: #000;
}
