

@media screen and (min-width: 480px) {

  /**************************
  HEADING
  ***************************/

  #wide-image {
    display:block;
    margin: 0 auto;
  }

  #mobile-image {
    display:none;
  }

  /**************************
  NAVIGATION
  ***************************/

  #header-content {
    width: 85%;
    max-width: 940px;
    margin: 0 auto;
  }

  nav,
  nav li,
  nav a {
    display: inline-block;
  }


  /**************************
  COLORS
  ***************************/



}
@media screen and (min-width: 640px) {

  /**************************
  GALLERY
  ***************************/

  #gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
  }



  /**************************
  COLORS
  ***************************/
