

@media screen and (min-width: 480px) {
  /**************************
  HEADING
  ***************************/

  #wide-image {
    display:block;
  }

  #mobile-image {
    display:none;
  }

  nav {
    background: #bd002e;
  }


}
